page-rate {
    .button-md {
        -webkit-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
        box-shadow: 0px;
    }
    .main-view {
        background: transparent;
        background-color: rgb(240, 240, 240);
        border: solid 1px;
        border-color: rgb(0, 167, 179);
        height: 65%;
        width: 95%;
        top: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }
}