page-viewshoppinglist {
    ion-list {
        overflow-y: scroll;
    }
    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 4px 9px 4px;
    }
    .input-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 80%;
        height: 100%;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    .fab-md {
        background-color: black;
    }
    .fab-in-list {
        margin: 2px;
    }
    .text-input-md {
        margin: 10px 8px;
    }
}

.chk {
    display: none;
}

.first {
    background-image: url("assets/imgs/090-btn-checkingBox2.png");
    width: 30px;
    height: 30px;
}

.last {
    background-image: url("assets/imgs/089-btn-checkingBox1.png");
    width: 30px;
    height: 30px;
}

.opentrash {
    background: url("./assets/imgs/094-버튼-PPT 54페이지의 가운데 이미지-휴지통 뚜껑 열린거.png") !important;
    width: 30px;
}

.closetrash {
    background: url("./assets/imgs/087-버튼-PPT 32페이지의 좌측 이미지-휴지통 뚜껑 닫힌거.png") !important;
    width: 30px;
}

.rotate {
    transition: all ease 1s;
}

.rotate:hover {
    transform: rotate(180deg);
}

.inputprice {
    position: absolute;
    // bottom: 1px;
    border: solid 2px;
    border-radius: 5px;
    width: 63%;
    border-color: #71E8E8;
}

.fab-close-icon {
    background-color: #01DFD7;
}

ion-fab-list {
    margin: 0;
    position: relative;
}

.fabstyle {
    background: black;
}

// button[ion-fab] {
//     overflow: visible;
//     position: relative;
//     ion-label {
//         position: absolute;
//         top: -5px;
//         right: 40px;
//         color: white;
//         background-color: rgba(0, 0, 0, 0.7);
//         line-height: 20px;
//         padding: 4px 8px;
//         border-radius: 4px;
//         font-size: 11px;
//     }
//     contain: layout;
// }
.item-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 0%;
    height: 0%;
    background: transparent;
    cursor: pointer;
}

.button {
    border-radius: 4px;
}

.left {
    float: left;
    width: 30%;
}

.saveButton {
    border-radius: 4px;
    border: solid 2px #01DFD7;
    background-color: #9FFAFA;
    width: 45px;
    height: 30px;
    font-size: 15px;
}

.main {
    border: solid 2px #D8D8D8;
    background-color: #FAFAFA;
    height: 15px;
    margin-top: 2px;
}

.iconwidth {
    margin: 9px 3px 9px 4px;
}