<ion-content class="main-view" style="background: transparent;
  background-color: rgb(240, 240, 240);
  outline-color:rgb(0, 167, 179);
  border: solid 2px;
  border-radius: 10px;
  border-color:rgb(0, 167, 179);
  height: 80%;
  width:80%;
  top: 10%;
  left:10%;
  " padding>

    <div style="margin-left:auto; margin-right:auto;">
        <img src="./assets/imgs/050.png" style="max-width:90%; margin-left:auto; margin-right:auto;" alt="">
        <div style="margin-right:auto; margin-left:auto;">

            <a class="test" *ngFor="let opt of option; let i = index" style="margin-left:auto; margin-right:auto;">

                <button type="button" (click)="clickbutton(i)" [ngClass]="select_option===i?'B_on':'B_off'" *ngIf="more_info||(i==0||i==3)" style="width: 45%; margin-right:auto; margin-left:auto;">
                <img *ngIf="opt.price==990&&flag1==false" src="./assets/imgs/052.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==990&&flag1==true" src="./assets/imgs/051.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==1980&&flag2==false" src="./assets/imgs/059.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==1980&&flag2==true" src="./assets/imgs/060.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==3520&&flag3==false" src="./assets/imgs/061.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==3520&&flag3==true" src="./assets/imgs/062.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==4730&&flag4==false" src="./assets/imgs/053.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
                <img *ngIf="opt.price==4730&&flag4==true" src="./assets/imgs/054.png" style="width:100%; margin-right:auto; margin-left:auto;" alt="">
        <!-- {{opt.price}}원 -->
        <br>
        <!-- {{opt.text}} -->
        </button>

            </a>
        </div>


        <button type="button" *ngIf="more_info===false" (click)="add_menu()" style="width: 45%; margin-right:auto; margin-left:auto; background-color:rgb(240,240,240);">
          <img src="./assets/imgs/057.png" style="margin-left:auto; margin-right:auto;" alt=" ">
      <!-- 더 많은 정보 보기 -->
    </button>
        <button type="button" (click)="purchase() " style="width: 45%; margin-right:auto; margin-left:auto; background-color:rgb(240,240,240);">
        <img src="./assets/imgs/055.png" alt="">
        </button>

    </div>
</ion-content>