<ion-content>
    <div style="background-color: #71E8E8; margin-bottom:5px; display:flex;">
        <button class="goback" (click)="goBack()"><img src="./assets/imgs/064.png" style="width:30px; margin:5px; " alt=""></button>
        <span style="color:white; font-size:18px; font-weight: 900; margin-top:11px; margin-left:20px;">설정</span>
    </div>
    <ion-list style="margin-top:10px; margin-bottom:10px;">
        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/065.png" style="width:25px; margin-right:10px" alt="">버전정보 Ver : {{version}}</span>
        </ion-item>

        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/066.png" style="width:25px; margin-right:10px;" alt="">앱 평가하기</span>
            <button (click)="evaluation()" class="arrow1"><img src="./assets/imgs/071.png" alt="" style="width:30px;"></button>
        </ion-item>

        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/067.png" style="width:25px; margin-right:10px;" alt="">오픈소스 라이센스</span>
            <button (click)="license()" class="arrow2"><img src="./assets/imgs/071.png" alt="" style="width:30px;"></button>
        </ion-item>

        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/068.png" style="width:25px; margin-right:10px;" alt="">개발자 문의하기</span>
            <button (click)="email()" class="arrow3"><img src="./assets/imgs/071.png" alt="" style="width:30px;"></button>

        </ion-item>

        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/069.png" style="width:25px; margin-right:10px;" alt="">푸쉬 알람 설정</span>

            <button *ngIf="flag==false" (click)="toggleGroup()" class="arrow4">
              <img class="rotate" *ngIf="flag==false" src="./assets/imgs/072.png" alt="" style="width:30px;">
              <img class="rotate" *ngIf="flag==true" src="./assets/imgs/075.png" alt="" style="width:30px;">
            </button>
            <button *ngIf="flag==true" (click)="alarmcheck()" class="arrow4">
              <img class="rotate" *ngIf="flag==false" src="./assets/imgs/072.png" alt="" style="width:30px;">
              <img class="rotate" *ngIf="flag==true" src="./assets/imgs/075.png" alt="" style="width:30px;">
            </button>


            <div *ngIf="shownGroup" style="margin:5px;padding:3px;">
                즐겨 찾기 한 매장의 휴무일 푸쉬 알림 받기
                <div></div>
                <a class="test" *ngFor="let button of buttontoggle; let i = index">
                    <button ion-button (click)="clickButton(i)" style="width:50px; margin-right:5px;" [ngClass]="button.check===true?'B_on':'B_off'">{{button.name}}</button>
                </a>
                <div *ngIf="checkbutton()===true">
                    <ion-item>
                        <ion-label>알람 시간 설정</ion-label>
                        <ion-datetime displayFormat="A h:mm" pickerFormat="A h mm" [(ngModel)]="DateTime"></ion-datetime>
                    </ion-item>

                </div>
                <button ion-button (click)="alarmcheck()" style="float:right; width:50px;">완료</button>

            </div>
        </ion-item>

        <ion-item style="margin-top:10px; margin-bottom:10px;">
            <span><img src="./assets/imgs/070.png" style="width:25px; margin-right:10px;" alt="">개인정보 취급방침</span>
            <button (click)="privacy()" class="arrow2"><img src="./assets/imgs/071.png" alt="" style="width:30px;"></button>
        </ion-item>

    </ion-list>
</ion-content>